
.c-pattern {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
    z-index: -1;


    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        z-index: 1;

        //http://www.heropatterns.com/
        background-image: linear-gradient(55deg,
            rgba(white, 1) 40%,
            rgba(white, 0) 100%
        ), url("../images/circuits-full.svg");
    }

    &::after {
        background-image: url("../../../images/circuits.svg");
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1;
        z-index: -1;
        //animation-name: pattern-pulse;
        animation-duration: 5s;
        animation-timing-function: steps(4);
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    > span {
        background-image: url("../../../images/circuits-2.svg");
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.1;
        z-index: -2;
        //animation-name: pattern-pulse2;
        animation-duration: 5s;
        animation-timing-function: steps(2);
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

}

@keyframes pattern-pulse {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0.2;
    }
    30.0000001% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pattern-pulse2 {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.1;
    }
    90.0000001% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}