@import "globals";
@import "mixins";
@import "colors";
@import "sass-mq/mq";

.root {
    position: relative;
    z-index: -1;
    margin: 0;

    $translate: percentage(((600 - 400) / 2) / -600);

    @include mq('tablet-landscape') {
        transform: translate($translate, $translate);
    }
}

.fallback {


    @media not print {

        :global(.canvas) & {
            @include visually-hidden;
        }
    }
}


.canvas {

    :global(.no-canvas) & {
        display: none;
    }

    @media print {
        display: none;
    }
}

/*
.img {
    transform: scale(1.05);
    transform-origin: center center;
    transition: transform 0.2s ease-out 0.2s;
    will-change: transform;

    .root:hover & {
        transform: scale(1.05) translate(1.5%, 0);
        transition-delay: 0s;
    }
}
*/

/*
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: z-index(behind);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    fill: $color-link;
    transform: scale(0.95);
    transition: transform 0.3s ease-out 0s;

    :global(.touchevents) &,
    .root:hover & {
        transform: translate(10%, 0);
        transition-delay: 0.15s;
    }

    @media print {
        transform: translate(10%, 0);
        transition-delay: 0.15s;
    }
}
*/
