:global {
    @import "../../../vendors/icomoon/style.css";

    .ico-pencil {

        use {
            transform: scale(0.9);
            transform-origin: 50% 50%;
        }
    }

    .ico-award {
        width: 1.3em;
        height: 1.3em;
        vertical-align: middle;
    }

    .ico-linkedin {
        top: -0.05em;
    }

    .ico-pdf {
        transform: scale(0.9);
    }
}

.root {
    position: relative;
    vertical-align: middle;
}

