@import "globals";
@import "mixins";

.c-page {
    //position: relative;
    min-height: 100vh;
}

.c-page__body {
    min-height: inherit;
    padding: 0 vw($page-gutter);

    > :last-child {
        padding-bottom: vh(60px);
    }

    > :first-child {
        padding-top: vh(60px);
    }

    > :only-child {
        min-height: inherit;
    }
}
