@import "globals";
@import "mixins";
@import "sass-mq/mq";

.root {
    max-width: 700px;

    @include mq(wide) {
        max-width: 750px;
    }

    @media print {
        @include clearfix;
        max-width: none;
    }

    > * {
        margin-bottom: rem(40px);

        @media print {
            @include clearfix;
            float: left;
            width: 45%;
            margin-bottom: rem(20px);

            &:nth-child(odd) {
                clear: both;
                padding-right: rem(10px);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}