@import "globals";
@import "mixins";
@import "sass-mq/mq";

.root {
    max-width: 700px;

    @include mq(wide) {
        max-width: 750px;
    }

    @media print {
        @include clearfix;
        display: flex;
        flex-wrap: wrap;
        max-width: none;
    }

    > * {
        margin-bottom: rem(40px);

        @media print {
            // @include clearfix;
            margin-bottom: rem(30px);
            width: calc(50% - rem(20px))
            // float: left;
            // width: 45%;
            // margin-bottom: rem(20px);

            &:nth-child(odd) {
                padding-right: rem(10px);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}