---
import Layout from '../../layouts/Layout.astro';
import Page from '../../components/Page.astro';
import PageSection from '../../components/PageSection.astro';
import { NAV_PATH_BLOG } from '../../shared/constants';
import { getBlogPosts } from '../../shared/collections';
import Card from '../../components/Card.astro';
import SkipContent from '../../components/SkipContent.astro';
import { toIdString } from '../../shared/utils';
import Footer from '../../sections/Footer.astro';
const posts = await getBlogPosts();
---

<Layout
  title="Blog Posts"
  currentNav={NAV_PATH_BLOG}
  description="Blog Posts about UX, UI development and Design System"
>
  <SkipContent slot="header" target={toIdString(NAV_PATH_BLOG)} />
  <div class="p-stack p-stack--away">
    <Page id={NAV_PATH_BLOG} mark="記事"
      ><PageSection title="blog">
        <div class="p-stack p-stack--near">
          {
            posts.map(({ details }) => (
              <Card titleLabel="title" {...details} dateFormat="long" />
            ))
          }
        </div>
      </PageSection>
    </Page>
    <Footer />
  </div>
</Layout>
<script>
  import { NAV_PATH_BLOG } from '../../shared/constants';
  import { currentRoute } from '../../shared/store';
  currentRoute.set(NAV_PATH_BLOG);
</script>
