---
import Layout from '../../layouts/Layout.astro';
import Page from '../../components/Page.astro';
import PageSection from '../../components/PageSection.astro';
import Text from '../../components/Text.astro';
---

<Layout>
  <Page id="blog-post"
    ><PageSection
      title="blog.post"
      subtitle="Outgrowing Frontend and the Journey Ahead"
    >
      <Text>
        <!-- Heading tags -->
        <h1>This is an H1 Heading</h1>
        <p>
          This is a paragraph under the H1 heading. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>

        <h2>This is an H2 Heading</h2>
        <p>
          This is a paragraph <b>under the H2 heading.</b> Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.
        </p>
        <p>
          This is a paragraph <b>under the H2 heading.</b> Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.
        </p>
        <p>
          This is a paragraph <em>under the H2 heading.</em> Lorem ipsum dolor sit
          amet, consectetur adipiscing elit.This is a paragraph <b
            >under the H2 heading.</b
          >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.This is a paragraph
          <b>under the H2 heading.</b> Lorem ipsum dolor sit amet, consectetur adipiscing
          elit.This is a paragraph
          <b>under the H2 heading.</b> Lorem <a href="#">
            ipsum dolor sit amet, c</a
          > onsectetur adipiscing elit.This is a paragraph <b
            >under the H2 heading.</b
          > Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <h3>This is an H3 Heading</h3>
        <p>
          This is a paragraph under <em
            >the H3 heading. Lorem ipsum dolor sit amet, consectetur adipiscing
            elit.</em
          >
        </p>

        <h4>This is an H4 Heading</h4>
        <p>
          This is a paragraph under the H4 heading. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>

        <h5>This is an H5 Heading</h5>
        <p>
          This is a paragraph under the H5 heading. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>

        <p>
          This is a paragraph under the H6 heading. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>

        <!-- Unordered List -->
        <h2>Unordered List Example</h2>
        <ul>
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
        </ul>

        <!-- Ordered List -->
        <h2>Ordered List Example</h2>
        <ol>
          <li>First item</li>
          <li>Second item</li>
          <li>Third item</li>
        </ol>

        <!-- Blockquote -->
        <h2>Blockquote Example</h2>
        <blockquote cite="https://www.example.com">
          "This is a blockquote. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit."
        </blockquote>

        <!-- Code Sample -->
        <h2>Code Example</h2>
        <pre><code>

  </code></pre>

        <!-- Image -->
        <h2>Image Example</h2>
        <img
          src="https://via.placeholder.com/150"
          alt="Placeholder Image"
          width="150"
          height="150"
        />

        <!-- Table Example -->
        <h2>Table Example</h2>
        <table border="1">
          <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Row 1, Cell 1</td>
              <td>Row 1, Cell 2</td>
              <td>Row 1, Cell 3</td>
            </tr>
            <tr>
              <td>Row 2, Cell 1</td>
              <td>Row 2, Cell 2</td>
              <td>Row 2, Cell 3</td>
            </tr>
          </tbody>
        </table></Text
      ></PageSection
    >
  </Page>
</Layout>
