@import "globals";
@import "colors";
@import "mixins";
@import "sass-mq/mq";

.root {
    overflow: hidden;

    @include mq(tablet-landscape) {
        position: relative;
        height: 100vh;
    }

    @include mq($media-type: print) {
        opacity: 1 !important;
        visibility: visible !important;
        height: auto !important;
        transform: none !important;
    }

    > [data-scrollbar] {
        height: 100vh;

        @include mq($media-type: print) {
            overflow: visible !important;
            height: auto;

            :global(.scroll-content) {
                transform: none !important;
            }
        }
    }

    .c-page:last-child .c-section:last-child {
        min-height: 100vh;
    }
}

.is-active {} //stylelint-disable-line block-no-empty

.footer {
    padding: 0 0 30px;
    font-size: font-size(12px);
    text-align: center;

    @include mq($media-type: print) {
        display: none;
    }
}