@import "mixins";

.c-section {
    @include clearfix;
    padding-bottom: rem(90px);
}

.c-section__title {
    //margin-bottom: em(42px, 32px);
    width: 35%;
    margin-left: 5%;
    float: left;
}

.c-section__body {
    //margin-left: rem(65px);
    float: left;
    width: 50%;
}
