@import "globals";
@import "mixins";
@import "sass-mq/mq";


//@include parallax-init;

.c-section {
    position: relative;
    padding-bottom: rem(120px);
    transform-style: preserve-3d;
}

.c-section__title {
    margin-bottom: 2em;
    text-align: center;

    @include mq(tablet-portrait) {
        @include boost-performance;
        position: absolute;
        top: rem(10px);
        left: vw(60px);
        max-width: 35%;
        margin-bottom: 0;
        text-align: left;
        white-space: nowrap;
    }
}

.c-section__body {
    display: block;
    width: 100%;

    @include mq($until: tablet-portrait) {
        transform: none !important;
    }

    @include mq(tablet) {
        padding-right: 7%;
        padding-left: 10%;
    }

    @include mq(tablet-portrait) {
        padding-right: 0;
        padding-left: 33%;
        //transition: transform 0.2s ease-out;
    }
}
