.p-cluster {
  --s: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-block: unset;
  margin-inline: unset;
  padding-block: unset;
  padding-inline: unset;
  gap: calc(var(--s) * var(--space-unit));

  &:is(ul, ol) {
    list-style-type: none;
  }

  & > * {
    margin-block: 0;
    margin-inline: 0;
  }
}
