@property --prose-shadow-spread {
  syntax: '<length>';
  inherits: false;
  initial-value: 1px;
}

.p-prose {
  --prose-pullquote-space-gutter-inline: 0;
  --prose-box-color-background-warning: light-dark(
    oklch(97% 0.05 87.31deg),
    oklch(39% 0.07 90.79deg)
  );
  --prose-box-color-background-code: light-dark(var(--color-light), #24292e);
  --prose-box-color-shadow-code: light-dark(
    oklch(from var(--color-brand-400) l c h / 15%),
    oklch(from var(--color-brand-500) l c h / 54%)
  );
  --prose-navigation-color-background-hover: transparent;

  @media (--viewport-tablet) {
    --prose-pullquote-space-gutter-inline: var(--space-4);
  }

  max-inline-size: 80ch;
  font-size: var(--text-body-font-size-x2);

  p,
  :not(li) > :where(ul, ol),
  hr,
  blockquote,
  pre,
  figure,
  h1,
  h2,
  h3,
  details,
  h4,
  h5 {
    margin-block: 1.5rem 0;

    &:where(:first-child) {
      margin-block-start: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--text-heading-font-family);
    font-weight: normal;
    text-wrap: balance;
  }

  h1 {
    margin-block: 1.5rem;
    font-size: var(--text-heading-font-size-x3);
    line-height: 1.4;
  }

  h2 {
    margin-block: 1.5rem;
    font-size: var(--text-heading-font-size-x2);
  }

  h3 {
    font-size: var(--text-heading-font-size-xl);
  }

  h4 {
    font-size: var(--text-heading-font-size-mq);
  }

  h5 {
    font-size: var(--text-heading-font-size);
  }

  :is(blockquote, figure) > * {
    margin-block-start: 0;
  }

  small,
  .small {
    font-size: var(--text-heading-font-size-sub);
  }

  .small {
    h2 {
      margin-block: 1.5rem 0;
      font-size: var(--text-heading-font-size-mq);
    }

    h3,
    h4,
    h5 {
      font-size: var(--text-heading-font-size);
    }
  }

  pre {
    padding: var(--space-2);
    transition: --prose-shadow-spread 250ms ease 100ms;
    border-radius: 4px;
    background-color: var(--prose-box-color-background-code);
    box-shadow: 0 0 5px var(--prose-shadow-spread)
      var(--prose-box-color-shadow-code);
    font-size: 0.8em;
    white-space: pre;
    tab-size: 2;

    @media (--pointer-mouse) {
      &:hover {
        --prose-shadow-spread: 3px;

        transition-delay: 0s;
      }
    }

    @media (--viewport-tablet) {
      font-size: 0.9em;
    }

    @media (--theme-dark) {
      box-shadow: 0 0 0 var(--prose-shadow-spread)
        var(--prose-box-color-shadow-code);
    }
  }

  :not(pre) > :is(code, samp) {
    padding: 0.2em;
    background-color: color-mix(in oklch, currentcolor, transparent 92%);
    font-size: 0.9em;
  }

  var {
    padding: 0.2em;
    background-color: color-mix(in oklch, currentcolor, transparent 92%);
  }

  figure {
    margin-inline: 0;
  }

  figure:has(img) {
    text-align: center;

    & :where(img, picture) {
      max-inline-size: min(100%, 38rem);
      margin-inline: auto;
    }
  }

  figcaption:last-child {
    padding-block-start: var(--space-1);
    font-size: 0.9em;
    font-style: italic;

    blockquote + & {
      margin-inline: var(--prose-pullquote-space-gutter-inline);
    }
  }

  blockquote,
  figure.pullquote {
    margin-inline: var(--prose-pullquote-space-gutter-inline);
    padding-block: var(--space-2);
    padding-inline-start: 1.5rem;
    border-inline-start: 8px solid var(--box-color-border);

    @media (--viewport-tablet) {
      font-size: 1.15em;
    }
  }

  figure:has(pre:first-child + figcaption) {
    transition: --prose-shadow-spread 250ms ease 100ms;
    border-radius: 4px;
    background-color: var(--prose-box-color-background-code);
    box-shadow: 0 0 5px var(--prose-shadow-spread)
      var(--prose-box-color-shadow-code);

    @media (--pointer-mouse) {
      &:hover {
        --prose-shadow-spread: 3px;

        transition-delay: 0ms;
      }
    }

    @media (--theme-dark) {
      box-shadow: 0 0 0 var(--prose-shadow-spread)
        var(--prose-box-color-shadow-code);
    }

    & > pre {
      transition: none;
      border-radius: 0;
      background-color: transparent !important;
      box-shadow: none;
    }

    & > figcaption {
      border-block-start: 2px solid var(--prose-box-color-shadow-code);
      padding: var(--space-2);
      padding-block-start: var(--space-1);
    }
  }

  img,
  video {
    display: block;
    block-size: auto;
    max-inline-size: 100%;
  }

  aside {
    padding: var(--space-2);
    background-color: var(--box-color-background);

    &:not(first-child) {
      margin-block-start: 1.5rem;
    }

    &.p-prose__warning {
      background-color: var(--prose-box-color-background-warning);
    }

    box-shadow: 0 0 5px 1px
      light-dark(
        oklch(
          from var(--prose-box-color-background-warning) calc(l - 0.05) c h
        ),
        oklch(from var(--prose-box-color-background-warning) calc(l - 0.14) c h)
      );
  }

  table {
    inline-size: 100%;
    margin-block: 1.5rem 2.5rem;
    border-collapse: collapse;
    border: 0;
  }

  figure:has(figcaption + table) > figcaption:first-child,
  caption {
    font-family: var(--text-heading-font-family);
    font-size: var(--text-heading-font-size-mq);
    font-weight: normal;
    text-align: start;
  }

  caption {
    margin-block-end: 1.5rem;
  }

  td {
    padding-block: var(--space-2);
    padding-inline: var(--space-half);
  }

  th {
    padding-block-end: var(--space-2);
    padding-inline: var(--space-half);
  }

  th,
  td {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: color-mix(in oklch, currentcolor, transparent 80%);
    font-size: inherit;

    &:not([align]) {
      text-align: start;
    }
  }

  details {
    padding: var(--space-2);
    background-color: var(--box-color-background);

    &[open] {
      @media not (prefers-color-scheme: dark) {
        box-shadow: 0 0 5px 1px
          color-mix(in oklch, currentcolor, transparent 95%);
      }
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  :where(tbody, tfoot) th {
    padding-block-start: var(--space-2);
  }

  a {
    transition:
      color 150ms,
      border-image 150ms,
      text-decoration-color 150ms;
    background: transparent;
    color: var(--navigation-color-foreground-secondary);
    box-decoration-break: clone;

    /* prettier-ignore */
    border-image: conic-gradient(var(--prose-navigation-color-background-hover) 0 0) fill 0//0.2em 0.2em;

    &:hover {
      --prose-navigation-color-background-hover: color-mix(
        in oklch,
        currentcolor,
        transparent 85%
      );
    }
  }

  hr {
    border: 1px solid color-mix(in oklch, currentcolor, transparent 80%);
  }

  em {
    font-style: italic;
  }

  :where(:not(h1, h2, h3, h4, h5)) em {
    font-weight: 700;
  }

  b {
    font-weight: 700;
  }

  dfn {
    font-style: italic;
    font-weight: 700;
  }

  & > hgroup {
    margin-block-end: 4rem;
    padding-block-end: var(--space-2);
    border-block-end: 1px solid
      color-mix(in oklch, currentcolor, transparent 80%);
  }

  & > footer {
    margin-block-start: var(--space-4);
    padding-block-start: var(--space-2);
    font-size: var(--text-heading-font-size-sub);
    border-block-start: 1px solid
      color-mix(in oklch, currentcolor, transparent 80%);
  }

  .cp_embed_wrapper {
    margin-block-start: 1.5rem;
  }

  .astro-code {
    display: flex;
    counter-reset: step;
    counter-increment: step 0;

    .line {
      display: inline-block;
      inline-size: 100%;

      &::before {
        content: counter(step);
        display: inline-block;
        inline-size: 2ch;
        margin-inline-end: 1rem;
        color: oklch(55.1% 0.019 251deg);
        text-align: end;
        counter-increment: step;
      }
    }

    .highlighted {
      background-color: light-dark(
        oklch(90% 0.2 100deg / 24%),
        oklch(59% 0.12 100deg / 24%)
      );
    }
  }

  @media (prefers-color-scheme: dark) {
    .astro-code {
      background-color: var(--shiki-dark-bg) !important;
      color: var(--shiki-dark) !important;
    }

    .astro-code span {
      color: var(--shiki-dark) !important;
    }
  }
}
