.p-prose {
  --prose-pullquote-space-gutter-inline: 0;
  --prose-box-color-background-warning: oklch(97% 0.05 87.31deg);
  --prose-navigation-color-background-hover: transparent;


  @media (--viewport-tablet) {
    --prose-pullquote-space-gutter-inline: var(--space-4);
  }

  @media (prefers-color-scheme: dark) {
    --prose-box-color-background-warning: oklch(39% 0.07 90.79deg);
  }

  max-inline-size: 80ch;
  font-size: var(--text-body-font-size-x2);

  p,
  :not(li) > :where(ul, ol),
  hr,
  blockquote,
  pre,
  figure,
  h1,
  h2,
  h3,
  details,
  h4,
  h5 {
    margin-block: 1.5rem 0;

    &:where(:first-child) {
      margin-block-start: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--text-heading-font-family);
    font-weight: normal;
    text-wrap: balance;
  }

  h1 {
    margin-block: 1.5rem;
    font-size: var(--text-heading-font-size-x3);
    line-height: 1.4;
  }

  h2 {
    margin-block: 1.5rem;
    font-size: var(--text-heading-font-size-x2);
  }

  h3 {
    font-size: var(--text-heading-font-size-xl);
  }

  h4 {
    font-size: var(--text-heading-font-size-mq);
  }

  h5 {
    font-size: var(--text-heading-font-size);
  }

  :is(blockquote, figure) > * {
    margin-block-start: 0;
  }

  small,
  .small {
    font-size: var(--text-heading-font-size-sub);
  }

  .small {
    h2 {
      margin-block: 1.5rem 0;
      font-size: var(--text-heading-font-size-mq);
    }

    h3,
    h4,
    h5 {
      font-size: var(--text-heading-font-size);
    }
  }

  pre {
    padding: var(--space-2);
    background-color: var(--color-light);
    font-size: 0.8em;
    white-space: pre-wrap;
    tab-size: 2;

    @media (prefers-color-scheme: dark) {
      background-color: #24292e;
    }


    @media (--viewport-tablet) {
      font-size: 0.9em;
    }

    @media not (prefers-color-scheme: dark) {
      box-shadow: 0 0 5px 1px color-mix(in oklch, currentcolor, transparent 95%);
    }
  }

  :not(pre) > :is(code, samp) {
    padding: 0.2em;
    background-color: color-mix(in oklch, currentcolor, transparent 92%);
    font-size: 0.9em;
  }

  figure {
    margin-inline: 0;
  }

  figure:has(img) {
    text-align: center;

    & :where(img,picture) {
      margin-inline: auto;
    }
  }

  figcaption:last-child {
    padding-block-start: var(--space-1);
    font-size: 0.9em;
    font-style: italic;

    blockquote + & {
      margin-inline: var(--prose-pullquote-space-gutter-inline);
    }
  }

  blockquote,
  figure.pullquote {
    margin-inline: var(--prose-pullquote-space-gutter-inline);
    padding-block: var(--space-2);
    padding-inline-start: 1.5rem;
    border-inline-start: 8px solid var(--box-color-border);

    @media (--viewport-tablet) {
      font-size: 1.15em;
    }
  }

  img {
    display: block;
    block-size: auto;
    max-inline-size: 100%;
  }

  aside {
    padding: var(--space-2);
    background-color: var(--box-color-background);


    &:not(first-child) {
      margin-block-start: 1.5rem;
    }

    &.p-prose__warning {
      background-color: var(--prose-box-color-background-warning);
    }

    @media not (prefers-color-scheme: dark) {
      box-shadow: 0 0 5px 1px color-mix(in oklch, currentcolor, transparent 95%);
    }

  }

  table {
    inline-size: 100%;
    margin-block: 1.5rem 2.5rem;
    border-collapse: collapse;
    border: 0;
  }

  figure:has(figcaption + table) > figcaption:first-child,
  caption {
    font-family: var(--text-heading-font-family);
    font-size: var(--text-heading-font-size-mq);
    font-weight: normal;
    text-align: start;
  }

  caption {
    margin-block-end: 1.5rem;
  }

  td {
    padding-block: var(--space-2);
    padding-inline: var(--space-half);
  }

  th {
    padding-block-end: var(--space-2);
    padding-inline: var(--space-half);
  }

  th,
  td {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: color-mix(in oklch, currentcolor, transparent 80%);
    font-size: inherit;

    &:not([align]) {
      text-align: start;
    }
  }


  details {
    padding: var(--space-2);
    background-color: var(--box-color-background);

    &[open] {
      @media not (prefers-color-scheme: dark) {
        box-shadow: 0 0 5px 1px color-mix(in oklch, currentcolor, transparent 95%);
      }
    }


  }

  /* stylelint-disable-next-line no-descending-specificity */
  :where(tbody, tfoot) th {
    padding-block-start: var(--space-2);
  }

  a {
    transition:
      color 150ms,
      border-image 150ms,
      text-decoration-color 150ms;
    background: transparent;
    color: var(--navigation-color-foreground-secondary);
    box-decoration-break: clone;
    border-image: conic-gradient(var(--prose-navigation-color-background-hover) 0 0) fill 0//0.2em 0.2em;

    &:hover {
      --prose-navigation-color-background-hover: color-mix(in oklch, currentcolor, transparent 85%);
    }
  }


  hr {
    border: 1px solid color-mix(in oklch, currentcolor, transparent 80%);
  }

  em {
    font-style: italic;
  }

  :where(:not(h1, h2, h3, h4, h5)) em {
    font-weight: 700;
  }

  b {
    font-weight: 700;
  }

  dfn {
    font-style: italic;
    font-weight: 700;
  }

  & > hgroup {
    margin-block-end: 4rem;
    padding-block-end: var(--space-2);
    border-block-end: 1px solid
      color-mix(in oklch, currentcolor, transparent 80%);
  }

  & > footer {
    margin-block-start: var(--space-4);
    padding-block-start: var(--space-2);
    font-size: var(--text-heading-font-size-sub);
    border-block-start: 1px solid
      color-mix(in oklch, currentcolor, transparent 80%);
  }

  .cp_embed_wrapper {
    margin-block-start: 1.5rem;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      background-color: var(--shiki-dark-bg) !important;
      color: var(--shiki-dark) !important;

      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
