@keyframes detect-scroll {
  from, to { --can-scroll: ;}
}


@keyframes reveal-start {
  0% {
    --reveal-start: 0;
  }

  100% {
    --reveal-start: 1;
  }
}

@keyframes reveal-end {
  0% {
    --reveal-end: 1;
  }

  100% {
    --reveal-end: 0;
  }
}

.p-scroller {
  display: grid;
  position: relative;
  grid-template: [full-start] 'sx body dx' auto [full-end] / [full-start] 1.5rem max-content 1.5rem [full-end];
  inline-size: 100%;
  overflow-x: auto;
  animation: detect-scroll, reveal-start, reveal-end;
  scroll-timeline: --scroll-timeline x;
  animation-timeline: --scroll-timeline;
  animation-fill-mode: none, both, both;
  animation-range: normal, 0 1.5rem, calc(100% - 1.5rem) 100%;

  & > * {
    grid-area: full;
  }

  & > table > caption {
    position: sticky;
  }
}


.p-scroller::before,
.p-scroller::after {
  content: "";
  display: flex;
  visibility: var(--visibility-if-can-scroll, var(--visibility-if-cant-scroll));
  position: sticky;
  inline-size: 1.5rem;
  transition: opacity 150ms linear;
  inset-block: 0;

  --visibility-if-can-scroll: var(--can-scroll) visible;
  --visibility-if-cant-scroll: hidden;
}


.p-scroller::before {
  grid-area: sx;
  opacity: var(--reveal-start);
  background: color-mix(in oklch, var(--box-color-background), transparent 10%) conic-gradient(from 45deg, var(--navigation-color-foreground-secondary) 90deg, transparent 0) no-repeat 0 center / 1rem 1rem;
  inset-inline-start: 0;
}


.p-scroller::after {
  grid-area: dx;
  opacity: var(--reveal-end);
  background: color-mix(in oklch, var(--box-color-background), transparent 10%) conic-gradient(from 225deg, var(--navigation-color-foreground-secondary) 90deg, transparent 0) no-repeat right center / 1rem 1rem;
  inset-inline-end: 0;
}
