/* ==========================================================================

   Base Styles
   ====


   Some Basic Styles

   ```
   ```

   ========================================================================== */

@import "colors";
@import "fonts";
@import "mixins";

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
button,
input,
select,
textarea {
    color: $color-text;
}

html,
body {
    line-height: 1.2;
}

html {
    background: $color-bg;
    font-size: percentage($font-size-default / 16px); /* 16px */
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 320px;
    min-height: 100vh;
    background: $color-bg;
    color: $color-text;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
}

//Remove text-shadow in selection highlight: h5bp.com/i
//These selection declarations have to be separate.
//Customize the background color to match your design.

::-moz-selection {
    color: $color-text-selection;
    text-shadow: none;
}

::selection {
    color: $color-text-selection;
    text-shadow: none;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440

audio,
canvas,
iframe,
svg,
video,
img {
    vertical-align: middle;
}

// Remove default fieldset styles.

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

// Allow only vertical resizing of textareas.

textarea {
    resize: vertical;
}

input::-moz-focus-inner {
    border: 0;
}


/* ==========================================================================
   ##prevent 300ms delay in FF, Chrome and IE on touch devices
   ========================================================================== */

a[href],
button {
    touch-action: manipulation;
}

/* ==========================================================================
   ##Headings and Base

   1 to 6 heading

   ```
   ```
   ========================================================================== */

%heading-base {
    margin: 0 0 0.2em;
    //color: $color-text
    font-family: $font-family-h;
    font-weight: font-weight(bold);
}

@include classed-headings {
    @extend %heading-base;
}

@each $font-head-num, $font-head-size in $font-sizes-headings {

    h#{$font-head-num},
    .h#{$font-head-num} {
        font-size: font-size($font-head-size);
        line-height: 1.4em;
    }
}

p {
    margin: 0 0 0.2em;
    line-height: 1.4em;
}

a:not([class]) {
    color: $color-link;
    text-decoration: underline;

    &:hover {
        //set to important so that hover is hardly overwritten by other styles
        color: $color-link-hover;
        text-decoration: none;
    }
}