//colors by name
$color-light-blue: #0076d6;
$color-dark: #000;
$color-light: #fff;

//colors by function
$color-text: $color-dark;
$color-bg: $color-light;
$color-link: $color-light-blue;
$color-link-hover: lighten($color-light-blue, 20%);
$color-text-selection: $color-light-blue;