//fonts by type
$font-family-sans: "Open Sans", sans-serif;
$font-family-serif: "Bree Serif", serif;

//fonts by function
$font-family-base: $font-family-sans;
$font-family-h: $font-family-serif;

//font dimensions
$font-size-default: 16px;
$font-lheight-default: 20px;

$font-sizes: (
    xl: 40px,
    l: 32px,
    m: $font-size-default,
    s: 14px,
    xs: 10px
);


$font-weights: (
    regular: 400,
    semibold: 600,
    bold: 700
);

//font dimensions by function
$font-sizes-headings: (
    1: 40px,
    2: 32px,
    3: $font-size-default,
    4: $font-size-default,
    5: $font-size-default,
    6: $font-size-default
);