/* stylelint-disable-next-line import-notation */
@import 'modern-normalize' layer(reset);

/* bree-serif-latin-400-normal */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/bree-serif/files/bree-serif-latin-400-normal.woff2')
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* noto-sans-latin-wght-normal */
@font-face {
  font-family: 'Noto Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url('@fontsource-variable/noto-sans/files/noto-sans-latin-wght-normal.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* noto-sans-latin-wght-italic */
@font-face {
  font-family: 'Noto Sans Variable';
  font-style: italic;
  font-display: swap;
  font-weight: 300 800;
  src: url('@fontsource-variable/noto-sans/files/noto-sans-latin-wght-italic.woff2')
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/noto-sans-jp/files/noto-sans-jp-japanese-700-normal.woff2')
    format('woff2');
  unicode-range: U+3053, U+3093, U+306B, U+3061, U+306F, U+FF01;
}

@layer base {
  html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-block-start: var(--space-4);

    @media (--viewport-tablet-landscape) {
      font-size: 87.5%;
    }

    @media (--viewport-desktop) {
      font-size: 100%;
    }

    @media (--viewport-qhd) {
      font-size: 125%;
    }
  }

  body {
    min-inline-size: 320px;
    margin: 0;
    padding: 0;
    background: transparent;
    color: var(--surface-color-foreground);
    font-family: var(--text-body-font-family);
    font-size: var(--text-body-font-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.75;

    @media (--theme-dark) {
      font-weight: 500;
    }

    &::before {
      content: '';
      position: fixed;
      z-index: -1;
      block-size: 100lvb;
      inline-size: 100lvi;
      background: var(--surface-color-background) no-repeat 0 0 / cover;
    }
  }

  ::selection {
    background-color: var(--box-color-selection-background);
    color: var(--box-color-selection-foreground);
    text-shadow: none;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0 0.2em;
    margin-inline: 0;
    font-weight: 700;
    line-height: 1.3;
    overflow-wrap: break-word;
  }

  p {
    margin-block: 0 0.2em;
    margin-inline: 0;
    line-height: 1.75;
    overflow-wrap: break-word;
  }

  :is(a, button, [tabindex="0"]):focus-visible {
    outline: 2px solid var(--interactive-color-outline);
    outline-offset: 2px;
  }

  a:focus-visible {
    color: var(--navigation-color-foreground-hover);
  }

  a:not(:focus-visible) {
    outline: 0;
  }

  a:not([class*='c-'], [class*='s-']) {
    transition:
      color 150ms,
      background-color 150ms,
      text-decoration-color 150ms;
    text-decoration: 2px underline
      color-mix(
        in oklch,
        currentcolor,
        transparent var(--navigation-color-underline-alpha)
      );
    text-underline-offset: 3px;

    &:not(:focus-visible) {
      color: inherit;
    }

    @media (--pointer-mouse) and (prefers-reduced-motion: no-preference) {
      transition:
        background-position 0s,
        color 150ms;
      transition-timing-function: cubic-bezier(0.83, 0.29, 0.29, 0.95);
      transition-delay: 0s;
      background: linear-gradient(
        to right,
        transparent calc(100% / 3),
        var(--navigation-color-foreground-secondary) 0 calc(100% / 1.5),
        transparent 0
      ) no-repeat 101% 0 / 300% 100%;
    }
  }

  a:not([class*='c-'], [class*='s-']):hover {
    @media (--pointer-mouse) and (prefers-reduced-motion: no-preference) {
      transition-duration: 650ms, 200ms;
      transition-delay: 0s, 150ms;
      background-position: 0 0;
      color: var(--navigation-color-foreground-hover);
    }

    @media (--pointer-mouse) and (prefers-reduced-motion: reduce) {
      background: color-mix(in oklch, currentcolor, transparent 85%);
      color: var(--navigation-color-foreground-hover);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
  }
}
