html {
  font-size: 100%;
}

@media (--viewport-tablet-landscape) {
  html {
    font-size: 87.5%;
  }
}
@media (--viewport-desktop) {
  html {
    font-size: 100%;
  }
}
@media (--viewport-qhd) {
  html {
    font-size: 125%;
  }
}

body {
  color: var(--color-text);
  min-width: 320px;
  margin: 0;
  padding: 0;

  /* height: 100vh;
  overflow: hidden; */
  background: var(--color-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-base);
  line-height: 1.25;
}

::selection {
  background-color: var(--color-selection-bg);
  color: var(--color-selection-fg);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 4px;
}

@media (--viewport-tablet-landscape) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--color-selection-fg);
}

::-webkit-scrollbar-track {
  background: var(--color-link);
}

hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--color-border);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 0.2em;
  font-family: var(--font-family-h);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

p {
  margin: 0 0 0.2em;
  line-height: 1.2;
}

a.u-link--mark,
a:not([class*='c-']) {
  color: inherit;
  outline: 0;
  outline-offset: 4px;
  text-decoration: none;
  background: linear-gradient(var(--color-link-bg), var(--color-link-bg));
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 100% bottom;
  padding-bottom: 3px;
  transition: color 150ms;
}

@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: no-preference) {
  a:is(.u-link--mark, :not([class*='c-'])) {
    padding-right: 0.22em;
    padding-left: 0.22em;
    background: linear-gradient(
        to right,
        transparent calc(100% / 3),
        var(--color-link) calc((100% / 3) + 1px),
        var(--color-link) calc(100% / 1.5),
        transparent calc(calc(100% / 1.5) + 1px)
      ),
      linear-gradient(
        to right,
        var(--color-link-bg-hover) calc(100% / 3),
        transparent calc((100% / 3) + 1px),
        transparent calc(100% / 1.5),
        var(--color-link-bg) calc(calc(100% / 1.5) + 1px)
      );
    background-repeat: no-repeat;
    background-size: 300% 100%, 300% 3px;
    background-position: 101% 0, 100% bottom;
    transition: background-position 0s, color 150ms;
    transition-timing-function: cubic-bezier(0.83, 0.29, 0.29, 0.95);
    transition-delay: 0s;
  }

  a:is(.u-link--mark, :not([class*='c-'])):hover {
    color: var(--color-link);
    text-decoration: none;
    background-position: 0 0, 0 bottom;
    transition-duration: 650ms, 200ms;
    transition-delay: 0s, 150ms;
  }
}

@media (hover: hover) and (pointer: fine) and (prefers-reduced-motion: reduce) {
  a:is(.u-link--mark, :not([class*='c-'])):hover {
    color: var(--color-link);
    background-image: linear-gradient(
      var(--color-link-bg-hover),
      var(--color-link-bg-hover)
    );
  }
}

a:focus-visible {
  color: var(--color-link);
  outline: 2px solid var(--color-link-bg-hover);
  outline-offset: 2px;
  background: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  a:focus-visible {
    transition: outline-offset 0.2s ease, color 0.2s ease;
  }
}
