/* Media queries */
@custom-media --viewport-mobile (width >= 30em);
@custom-media --viewport-tablet (width >= 48em);
@custom-media --viewport-tablet-landscape (width >= 64em);
@custom-media --viewport-desktop (width >= 80em);
@custom-media --viewport-wide (width >= 100em);
@custom-media --viewport-fullhd (width >= 120em);
@custom-media --viewport-qhd (width >= 160em);
@custom-media --pointer-mouse (hover: hover) and (pointer: fine);
@custom-media --theme-dark (prefers-color-scheme: dark);

:root {
  /* Colors */
  --color-hue-red: 0deg;
  --color-hue-green: 160deg;
  --color-hue-blue: 204deg;
  --color-hue-purple: 325deg;
  --color-darker: hsl(0deg 0% 22%);
  --color-dark: hsl(0deg 0% 30%);
  --color-dark-a10: hsl(0deg 0% 30% / 10%);
  --color-light-900: hsl(0deg 0% 90%);
  --color-light-900-a10: hsl(0deg 0% 90% / 10%);
  --color-light-900-a40: hsl(0deg 0% 90% / 40%);
  --color-light: hsl(0deg 0% 100%);
  --color-brand-hue: var(--color-hue-red);
  --color-brand-250: hsl(var(--color-brand-hue) 56% 25%);
  --color-brand-400: hsl(var(--color-brand-hue) 57% 40%);
  --color-brand-700: hsl(var(--color-brand-hue) 57% 70%);
  --color-brand-800: hsl(var(--color-brand-hue) 75% 72%);
  --color-brand-400-a20: hsl(var(--color-brand-hue) 57% 40% / 20%);
  --color-brand-400-a50: hsl(var(--color-brand-hue) 57% 40% / 50%);
  --color-brand-500-a50: hsl(var(--color-brand-hue) 47% 52% / 50%);


  /* Fonts */
  --font-family-sans: 'Open Sans', sans-serif;
  --font-family-serif: 'Bree Serif', serif;

  /* https://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&font=Open%20Sans&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
  --font-size-80: 0.833rem;
  --font-size-100: 1rem;
  --font-size-200: 1.125rem;
  --font-size-300: 1.2rem;
  --font-size-400: 1.44rem;
  --font-size-600: 1.728rem;
  --font-size-800: 2.074rem;
  --font-size-1200: 2.488rem;
  --font-size-1400: 2.986rem;

  /*
  --font-size-80: 0.875rem;
  --font-size-100: 1rem;
  --font-size-200: 1.125rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.375rem;
  --font-size-800: 2rem;
  --font-size-1200: 2.5rem;
  --font-size-1400: 2.8125rem;
   */

  /** Public tokens */

  /* Elevation */
  --layer-b1: -1;
  --layer-f0: 0;
  --layer-f1: 1;
  --layer-f5: 5;

  /* Spacing */
  --space-unit: 0.5rem;
  --space-half: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-page-gutter-inline: clamp(3rem, 5.46875vw + 1rem, 6.375rem);

  /* Size */
  --size-unit: 0.5rem;

  /* Typography */
  --text-heading-font-family: var(--font-family-serif);
  --text-heading-font-size: var(--font-size-300);
  --text-heading-font-size-mq: var(--font-size-400);
  --text-heading-font-size-x2: var(--font-size-800);
  --text-heading-font-size-x3: var(--font-size-1200);
  --text-heading-font-size-x3mq: var(--font-size-1400);
  --text-subheading-font-size: var(--font-size-100);
  --text-body-font-family: var(--font-family-sans);
  --text-body-font-size: var(--font-size-100);
  --text-body-font-size-x2: var(--font-size-200);
  --text-body-font-size-x3: var(--font-size-300);
  --text-footer-font-size: var(--font-size-80);

  /* Box */
  --box-color-foreground: var(--color-dark);
  --box-color-background: var(--color-light);
  --box-color-foreground-secondary: var(--color-light);
  --box-color-background-secondary: var(--color-brand-400);
  --box-color-selection-background: var(--color-brand-400-a20);
  --box-color-selection-foreground: var(--color-brand-250);
  --box-color-scrollbar-thumb: var(--color-brand-250);
  --box-color-scrollbar-track: var(--color-brand-400);
  --box-color-border: var(--color-brand-400-a50);

  @media (--theme-dark) {
    --box-color-foreground: var(--color-light-900);
    --box-color-background: var(--color-darker);
    --box-color-border: var(--color-brand-500-a50);
  }

  /* Navigation */
  --navigation-color-foreground: var(--color-dark);
  --navigation-color-foreground-hover: var(--color-brand-400);
  --navigation-color-border: var(--color-dark-a10);
  --navigation-color-border-hover: var(--color-brand-400-a20);


  @media (--theme-dark) {
    --navigation-color-border: var(--color-light-900-a10);
    --navigation-color-foreground-hover: var(--color-brand-800);
  }

  /* Actions */
  --action-color-background: var(--color-brand-700);
  --action-control-size-inline: max(24px, calc(var(--size-unit) * 3));
  --action-transition-duration: 0s;

  @media (prefers-reduced-motion: no-preference) {
    --action-transition-duration: 200ms;
  }

  /* Generic interactive elements */
  --interactive-color-outline: var(--color-brand-400-a20);


  @media (--theme-dark) {
    --interactive-color-outline: var(--color-brand-800);
  }

  &[data-theme="green"] {
    --color-brand-hue: var(--color-hue-green);
  }

  &[data-theme="blue"] {
    --color-brand-hue: var(--color-hue-blue);
  }

  &[data-theme="purple"] {
    --color-brand-hue: var(--color-hue-purple);
  }
}

[data-swatch="brand"] {
  --box-color-foreground: var(--color-light);
  --box-color-background: var(--color-brand-400);
  --box-color-selection-background: var(--color-light-900-a40);
  --box-color-selection-foreground: var(--color-light);
  --box-color-border: var(--color-light-900-a40);
  --box-color-foreground-secondary: var(--color-brand-400);
  --box-color-background-secondary: var(--color-light);
  --navigation-color-foreground: var(--color-light);
  --navigation-color-foreground-hover: var(--color-light);
  --interactive-color-outline: var(--color-light-900-a40);
  --action-color-background: var(--color-light);

}
