:root {
  /* Colors */
  --color-dark: hsl(0deg 0% 30%);
  --color-dark-a10: hsl(0deg 0% 30% / 10%);
  --color-light: hsl(0deg 0% 100%);
  --color-red-250: hsl(0deg 56% 25%);
  --color-red-400: hsl(0deg 57% 40%);
  --color-red-700: hsl(0deg 57% 70%);
  --color-red-400-a20: hsl(0deg 57% 40% / 20%);
  --color-red-400-a50: hsl(0deg 57% 40% / 50%);


  /* Fonts */
  --font-family-sans: 'Open Sans', sans-serif;
  --font-family-serif: 'Bree Serif', serif;
  --font-size-80: 0.875rem;
  --font-size-100: 1rem;
  --font-size-200: 1.125rem;
  --font-size-300: 1.25rem;
  --font-size-400: 1.375rem;
  --font-size-800: 2rem;
  --font-size-1200: 2.5rem;
  --font-size-1400: 2.8125rem;





  /** Public tokens */

  /* Elevation */
  --layer-b1: -1;
  --layer-f0: 0;
  --layer-f1: 1;
  --layer-f5: 5;

  /* Spacing */
  --space-page-gutter-block: 4.375rem;
  --space-page-gutter-inline: clamp(3rem, 5.46875vw + 1rem, 6.375rem);
  --space-unit: 0.5rem;
  --space-half: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;

  /* Sizing */
  --size-unit: 0.5rem;

  /* Typography */;
  --text-heading-font-family: var(--font-family-serif);
  --text-heading-font-size: var(--font-size-300);
  --text-heading-font-size-mq: var(--font-size-400);
  --text-heading-font-size-x2: var(--font-size-800);
  --text-heading-font-size-x3: var(--font-size-1200);
  --text-heading-font-size-x3mq: var(--font-size-1400);
  --text-subheading-font-size: var(--font-size-100);
  --text-body-font-family: var(--font-family-sans);
  --text-body-font-size: var(--font-size-100);
  --text-body-font-size-x2: var(--font-size-200);
  --text-body-font-size-x3: var(--font-size-300);
  --text-footer-font-size: var(--font-size-80);


  /* Box */
  --box-color-foreground: var(--color-dark);
  --box-color-background: var(--color-light);
  --box-color-foreground-secondary: var(--color-light);
  --box-color-background-secondary: var(--color-red-400);
  --box-color-selection-background: var(--color-red-400-a20);
  --box-color-selection-foreground: var(--color-red-250);
  --box-color-scrollbar-thumb: var(--color-red-250);
  --box-color-scrollbar-track: var(--color-red-400);
  --box-color-border: var(--color-red-400-a50);

  /* Navigation */
  --navigation-color-foreground: var(--color-red-400);
  --navigation-color-foreground-secondary: var(--color-light);
  --navigation-color-background-secondary: var(--color-red-400);
  --navigation-color-border: var(--color-dark-a10);
  --navigation-color-border-hover: var(--color-red-400-a20);

  /* Generic interactive elements */
  --interactive-color-outline: var(--color-red-400-a20);
  --interactive-color-background: var(--color-red-700);
  --interactive-color-background-pressed: var(--color-light);




}

/* Media queries */
@custom-media --viewport-mobile (width >= 30em);
@custom-media --viewport-tablet (width >= 48em);
@custom-media --viewport-tablet-landscape (width >= 64em);
@custom-media --viewport-desktop (width >= 80em);
@custom-media --viewport-wide (width >= 100em);
@custom-media --viewport-fullhd (width >= 120em);
@custom-media --viewport-qhd (width >= 160em);
@custom-media --pointer-mouse (hover: hover) and (pointer: fine);
