@layer utilities {
  .u-visuallyhidden,
  .u-visibleonfocus:not(:focus) {
    position: absolute;
    block-size: 1px;
    inline-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    white-space: nowrap;
  }

  .u-from-tablet-landscape {
    @media not screen and (--viewport-tablet-landscape) {
      display: none;
    }
  }

  .u-until-tablet-landscape {
    @media (--viewport-tablet-landscape) {
      display: none;
    }
  }
}
