@import "colors";
@import "fonts";
@import "mixins";


.c-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: z-index(above);

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        opacity: 0;
        width: 100vw;
        background-color: rgba($color-light, 0.2);
        content: "";
        transform: scaleX(0);
        transition: opacity 0.2s ease;
    }
}

.c-nav__burger {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: z-index(above) + 1;
}

.c-nav__menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: z-index(above);
    overflow: hidden;
    min-width: 30vw;
    margin: 0;
    padding: 10vh 0 0;
    list-style: none;
    background-color: $color-link;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.c-nav__route {
    position: relative;
    display: block;
    opacity: 0.8;
    padding: 1.5em;
    color: $color-light;
    font-family: $font-family-h;
    font-size: font-size(22px);
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.05em;

    &::before {
        position: relative;
        left: -0.05em;
        display: inline-block;
        opacity: 0;
        content: ".";
        transform: translateX(-0.2em);
        transition: all 0.2s ease;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200%;
        height: 1px;
        background-image: linear-gradient(to left,
            rgba($color-light, 0.4) 0%,
            rgba($color-light, 0.4) 50%,
            rgba($color-light, 0.8) 50.00000001%,
            rgba($color-light, 0.8) 100%
        );
        content: "";
        transform: translateX(-50%);
        transition: all 0.2s ease;
    }

    &:hover {
        &::before {
            opacity: 1;
            transform: translateX(0);
            transition-delay: 0.15s;
        }

        &::after {
            //opacity: 0.8;
            transform: translateX(0);
        }
    }
}



.c-nav.is-active {

    &::after {
        opacity: 1;
        transform: scaleX(1);
    }

    .c-nav__menu {
        transform: translateX(0);
        transition-delay: 0.3s;
    }
}
