@import 'colors';

body {
    background-image: url('../../../images/photo-demo.jpg');
    height: image-height('photo-demo.jpg');
}

.c-counter {
    color: $color-white;
    appearance: none;

    .cssgradients {
        background: blue;
    }
}