@import 'colors';

.c-counter {
    color: $color-white;
    appearance: none;
    //background: url('../../../images/photo-demo.jpg');
    //height: image-height('photo-demo.jpg');

    .cssgradients {
        background: blue;
    }
}