@import 'colors';

body {
    background-image: url('images/photo-demo.jpg');
    height: image-height('photo-demo.jpg');
}

.c-counter {
    appearance: none;
    color: $color-white;

    .cssgradients & {
        background: blue;
    }
}