---
import Layout from '../layouts/Layout.astro';
import SkipContent from '../components/SkipContent.astro';
import Error from '../components/Error.astro';
---

<Layout layout="centered">
  <SkipContent slot="header" target="not-found" />
  <Error code={404} title="Not Found" id="not-found" tabindex="-1">
    <p>Looks like the page you where looking for does not exists.</p>
    <p>Please return to the <a href="/">front page</a>.</p>
  </Error>
</Layout>
<script>
  import { NAV_PATH_404 } from '../shared/constants';
  import { currentRoute } from '../shared/store';
  currentRoute.set(NAV_PATH_404);
</script>
