@import "fonts";
@import "mixins";

.c-table {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        width: 22px;
        margin-left: -30px;
        background: url("../../../images/bracket-left.svg");
        background-size: 100% 100%;
        content: "";
    }
}

.c-table__caption {
    margin-bottom: 1em;
    font-family: $font-family-sans;
    font-size: font-size(22px);
    font-weight: font-weight(bold);

    &:before {
        content: ". ";
    }
}

.c-table__data {
    font-size: font-size(18px);
    text-align: left;
    vertical-align: top;

    tr {
        display: block;
    }

    th {
        display: inline-block;
        font-weight: font-weight(bold);
        vertical-align: top;

        &:before {
            content: ". ";
        }
    }

    td {
        display: inline-block;
        vertical-align: top;
    }

    th + td:before {
        content: ": ";
    }

}