@import "fonts";
@import "colors";
@import "mixins";

$c-table-row-indent: 0.3em;

.c-table {
    position: relative;
    width: 100%;
    margin-left: -30px;
    border-left: 30px solid transparent;
}

.c-table__caption {
    @include font-heading;
    padding-left: $c-table-row-indent;

    &:before {
        display: inline-block;
        margin-left: $c-table-row-indent * -1;
        content: ". ";
    }
}

.c-table__bracket {
    position: absolute;
    top: 0;
    left: auto;
    width: 22px;
    height: 100%;
    margin-left: -30px;

    path {
        opacity: 0.4;
        fill: $color-link;
    }
}

.c-table__data {
    @include font-content;
    width: 90%;
    text-align: left;
    vertical-align: top;

    tr {
        display: block;
        padding-bottom: 0.3em;
        padding-left: $c-table-row-indent;
    }

    th {
        display: inline;
        font-weight: font-weight(bold);
        vertical-align: top;
    }

    td {
        display: inline;
        vertical-align: top;
    }



    tr[data-row="title"] {
        padding-top: 0.5em;
    }

}

.c-table__footer {
    margin-top: rem(7px);
    margin-left: 0.5em;
}



.c-table--brackets {

    .c-table__data {

        th:before {
            display: inline-block;
            margin-left: $c-table-row-indent * -1;
            content: ". ";
        }

        th + td:before {
            content: ": ";
        }
    }
}

.c-table--ico {

    &::before {
        position: absolute;
        top: -0.4em;
        left: -0.4em;
        content:"\201c";
        color: $color-link;
        opacity: 0.4;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4em;
    }

    th,
    td {
        line-height: 1.7em;
    }

    th .o-ico {
        font-size: 1.4em;
        line-height: inherit;
    }

    td {
        padding-left: 0.2em;
    }
}