@import "globals";
@import "fonts";
@import "colors";
@import "mixins";
@import "sass-mq/mq";

$c-table-row-indent: 0.3em;

$c-table-indent: 30px;

.c-table {
    position: relative;
    width: 100%;
    padding-left: $c-table-indent;

    @include mq(tablet-portrait) {
        margin-left: $c-table-indent * -1;
        padding-left: 0;
        border-left: $c-table-indent solid transparent;
    }
}

.c-table__caption {
    @include font-heading;
    padding-left: $c-table-row-indent;

    &::before {
        display: inline-block;
        margin-left: $c-table-row-indent * -1;
        content: ". ";
    }
}

.c-table__bracket {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 0;
    opacity: 0.5;
    width: 8px;
    background-color: $color-link;

    @include mq(tablet-portrait) {
        left: -20px;
    }

    &::before,
    &::after {
        position: absolute;
        left: 8px;
        width: 8px;
        height: 8px;
        background-color: inherit;
        content: "";
        transform: scaleX(1);
        transform-origin: 0 0;
        transition: transform 0.2s ease-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    @at-root .c-table:hover .c-table__bracket2 {

        &::before,
        &::after {
            transform: scaleX(1);
        }
    }
}

.c-table__data {
    @include font-content;
    width: 90%;
    text-align: left;
    vertical-align: top;
    line-height: 1.35em;

    tr {
        display: block;
        padding-bottom: 0.2em;
        padding-left: $c-table-row-indent;
    }

    th {
        display: block;
        font-weight: font-weight(bold);

        @include mq(tablet-portrait) {
            display: inline;
            vertical-align: top;
        }
    }

    td {
        display: block;

        @include mq(tablet-portrait) {
            display: inline;
            vertical-align: top;
        }
    }



    tr[data-row="title"] {
        padding-top: 0.5em;
    }
    tr[data-row="description"] {
        line-height: 1.5em;
    }
}

.c-table__footer {
    margin-top: rem(7px);
    margin-right: -0.5em;
    margin-left: 0;
    font-size: font-size(s);

    > * {
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
    }
}



.c-table--brackets {

    .c-table__data {

        th::before {
            display: inline-block;
            margin-left: $c-table-row-indent * -1;
            content: ". ";
        }

        th::after {
            font-weight: font-weight(regular);
            content: ": ";
        }
    }
}
