@import "globals";
@import "mixins";
@import "sass-mq/mq";

.root {
    position: relative;
    z-index: z-index(above);
    padding-bottom: rem(120px);

    &:last-child {
        padding-bottom: rem(100px);
    }

    @media print {
        padding: 0.3cm 1cm 0.5cm;

        .title {
            orphans: 3;
        }

        :global(#contacts) & {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.title {
    margin-bottom: 2em;
    text-align: center;

    @include mq(tablet-landscape) {
        @include boost-performance;
        position: absolute;
        top: rem(10px);
        left: 0;
        max-width: 35%;
        margin-bottom: 0;
        text-align: left;
        white-space: nowrap;
    }

    @include mq(desktop) {
        left: vw(60px);
    }

    @media print {
        position: static;
        max-width: none;
        margin-top: 1.3em;
        margin-bottom: 1.5em;
        padding-top: 0.5cm;
        text-align: center;
    }
}

.body {
    display: block;
    width: 100%;

    @include mq($until: tablet-landscape) {
        transform: none !important;
    }

    @include mq(tablet) {
        padding-right: 7%;
        padding-left: 10%;
    }

    @include mq(tablet-landscape) {
        padding-right: 0;
        padding-left: 33%;
        will-change: transform;
        backface-visibility: hidden;
        // transition: transform 0.2s ease-out;
    }

    @include mq($media-type: print) {
        padding: 0;
        transform: none !important;

        :global(#contacts) & {
            width: auto;
            white-space: nowrap;
        }
    }
}