---
interface Props {
  active?: boolean;
  foreground: string;
  background: string;
}

const { active = false, foreground, background } = Astro.props;
---

<figure class="c-avatar">
  <svg
    viewBox="0 0 850 860"
    role="img"
    focusable="false"
    class="c-avatar__static"
  >
    <title>A picture of myself in Japan</title>
    <g clip-path="url(#avatar-mask)">
      <image xlink:href={foreground} x="0" y="0" />
    </g>

    <clipPath id="avatar-mask">
      <path
        d="M850 425L725.5 725.5 425 850 124.5 725.5 0 425l124.5-300.5L425 0l300.5 124.5z"
      ></path>
    </clipPath>
  </svg>
</figure>
<style>
  .c-avatar {
    margin: 0;
  }
</style>
