---
---

<button type="button" class="c-burger" aria-expanded="false">
  <span class="u-visuallyhidden">Toggle Menu</span>
</button>
<style>
  .c-burger {
    --burger-size: 24px;
    --burger-height: 17px;
    --burger-bar-height: 3px;
    --burger-bar-spacing: 4px;

    display: flex;
    position: absolute;
    z-index: var(--layer-f1);
    flex-direction: column;
    justify-content: space-between;
    inline-size: var(--burger-size);
    margin: 0;
    padding: calc((var(--burger-size) - var(--burger-height)) / 2) 0;
    transition: background-size 0.2s ease-out;
    border: 0;
    outline: 0;
    background: transparent linear-gradient(to left, currentcolor, currentcolor)
      no-repeat right 50% / var(--burger-bar-width, 85%)
      var(--burger-bar-height);
    color: var(--color-red-700);
    cursor: pointer;
    inset-block-start: 1.75rem;
    inset-inline-end: 1.75rem;
    aspect-ratio: 1;

    &:focus-visible {
      --burger-bar-width: 100%;
    }

    @media (--pointer-mouse) {
      &:hover {
        --burger-bar-width: 100%;
      }
    }
  }

  .c-burger::after,
  .c-burger::before {
    content: '';
    display: block;
    block-size: var(--burger-bar-height);
    inline-size: 100%;
    transform-origin: 100% 0;
    transition: transform 0.2s ease-out;
    background-color: currentcolor;
  }

  .c-burger::after {
    transform: scaleX(var(--burger-bar-width, 70%));
  }

  .c-burger[aria-expanded='true'] {
    transition-duration: 0s;
    background-size: 0 var(--burger-bar-height);
    color: var(--color-light);
  }

  .c-burger[aria-expanded='true']::before {
    transform: translate(0, 17px) rotate(45deg);
    transition: color 0.2s ease-out, transform 0.2s ease-out;
  }

  .c-burger[aria-expanded='true']::after {
    transform: translate(-3px, -14px) rotate(-45deg);
    transition: color 0.2s ease-out, transform 0.2s ease-out;
  }
</style>
<script>
  import { menuExpanded } from '../shared/store';

  const burgerList = document.querySelectorAll('.c-burger');

  for (const burger of burgerList) {
    menuExpanded.subscribe((expanded) => {
      burger.setAttribute('aria-expanded', `${expanded}`);
    });
    burger.addEventListener('click', () => {
      menuExpanded.set(!menuExpanded.get());
    });
  }
</script>
