---
import type { HTMLAttributes } from 'astro/types';
export interface Props extends Exclude<HTMLAttributes<'button'>, 'class'> {
  expanded?: boolean;
}

const { expanded, ...attrs } = Astro.props;
---

<button
  type="button"
  class:list={['c-burger', { 'is-expanded': expanded }]}
  {...attrs}
>
  <span class="u-visuallyhidden"><slot /></span>
</button>
<style>
  @layer components {
    .c-burger {
      --burger-size-bar-height: calc(var(--size-unit) * 0.375);
      --burger-size: var(--action-control-size-inline);
      --burger-height: calc(var(--burger-size-bar-height) * 5);

      display: block;
      inline-size: var(--burger-size);
      aspect-ratio: 1;
      margin: 0;
      padding-block: calc((var(--burger-size) - var(--burger-height)) / 2);
      padding-inline: 0;
      transition:
        color var(--action-transition-duration) ease-out,
        background-size var(--action-transition-duration) ease-out;
      border: 0;
      background-color: transparent;
      background-image:
        linear-gradient(to left, currentcolor, currentcolor),
        linear-gradient(to left, currentcolor, currentcolor),
        linear-gradient(to left, currentcolor, currentcolor);
      background-repeat: no-repeat;
      background-position:
        right 0,
        right 50%,
        right bottom;
      background-size:
        var(--burger-bar-width, 100%) var(--burger-size-bar-height),
        var(--burger-bar-width, 85%) var(--burger-size-bar-height),
        var(--burger-bar-width, 70%) var(--burger-size-bar-height);
      color: var(--action-color-background);
      cursor: pointer;
      background-origin: content-box;

      &:focus-visible {
        --burger-bar-width: 100%;
      }

      @media (--pointer-mouse) {
        &:hover {
          --burger-bar-width: 100%;
        }
      }

      &.is-expanded {
        background:
          linear-gradient(to right, currentcolor, currentcolor) no-repeat 0
            50% / 100% var(--burger-size-bar-height),
          linear-gradient(to top, currentcolor, currentcolor) no-repeat 50% 0 /
            var(--burger-size-bar-height) 100%;
        rotate: 45deg;
      }
    }
  }
</style>
