---
import Icon from './Icon.astro';

export interface Props {
  label: string;
  icon?: string;
}

const { label, icon } = Astro.props;
---

<section class="c-data-set">
  <h3 class="c-data-set__label">
    <span class="c-data-set__icon">
      <Icon name="plus" />
    </span>
    {
      icon && (
        <span class="c-data-set__icon">
          <Icon name={icon} />
        </span>
      )
    }
    <span>{label}</span>
  </h3>
  <div class="c-data-set__body">
    <slot />
  </div>
</section>
<style>
  .c-data-set__label {
    display: grid;
    grid-template-columns: 1em 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'icon label';
    column-gap: 0.5rem;
    margin-bottom: 0.7em;
    font-family: var(--font-family-sans);
    font-size: 1.25rem;
    font-weight: 700;
  }

  @media (--viewport-tablet-landscape) {
    .c-data-set__label {
      font-size: 1.375rem;
    }
  }

  .c-data-set__icon {
    grid-area: icon;
    text-align: center;
    color: var(--color-link);
  }

  .c-data-set__icon:first-child {
    opacity: 0.6;
    transition: all 250ms;
  }

  .c-data-set__icon:nth-child(2) {
    opacity: 0;
    transform: scale(0.2);
    transition: all 150ms ease-out;
  }

  .c-data-set__body {
    padding: 0.25rem 1.25rem;
    font-size: var(--font-size-m);
    font-weight: 400;
    background: linear-gradient(
        var(--color-red-400-a50),
        var(--color-red-400-a50)
      )
      no-repeat 0.63rem center / 2px 0;
    transition: background-size 850ms cubic-bezier(0.68, 0, 0.21, 0.93) 100ms;
  }
  @media (--viewport-tablet-landscape) {
    .c-data-set__body {
      font-size: 1.125rem;
    }
  }

  @media (--pointer-mouse) {
    .c-data-set:hover .c-data-set__body {
      background-size: 2px 100%;
    }

    .c-data-set:hover .c-data-set__icon:first-child {
      opacity: 0;
      transform: scale(1.5);
    }

    .c-data-set:hover .c-data-set__icon:nth-child(2) {
      opacity: 0.6;
      transform: scale(1);
      transition-delay: 240ms;
    }
  }

  @media not screen and (--pointer-mouse) {
    .c-data-set .c-data-set__icon:first-child {
      opacity: 0;
      transform: scale(1.5);
    }

    .c-data-set .c-data-set__icon:nth-child(2) {
      opacity: 0.6;
      transform: scale(1);
      transition-delay: 240ms;
    }
  }

  /*
  :global(.touchevents) .item,
  .item:hover {
    .label::before {
      opacity: 0;
      transform: scale(1.5);
    }

    .ico {
      opacity: 0.6;
      transform: translateY(-50%) scale(1);
      transition-delay: 240ms;
    }
  }

  @media print {
    .label::before {
      opacity: 0;
      transform: scale(1.5);
    }

    .ico {
      opacity: 0.6;
      transform: translate(0, -50%) scale(1);
    }
  } */
</style>
