---
import Icon from './Icon.astro';

interface Item {
  icon?: string;
  label: string;
}

export interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<ul class="c-inline-list">
  {
    items.map(({ icon, label }) => (
      <li class="c-inline-list__item">
        {icon && <Icon name={icon} size={1.2} />}
        {label}
      </li>
    ))
  }
</ul>
<style>
  @layer components {
    .c-inline-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-block: 0;
      padding-inline-start: 0;
      column-gap: var(--space-5);
      list-style-type: none;
      row-gap: var(--space-4);
    }

    .c-inline-list__item {
      white-space: nowrap;
    }
  }
</style>
