---
import Icon from './Icon.astro';
import Stack from './Stack.astro';

interface Item {
  icon: string;
  href: string;
  label: string;
  description?: string;
}

export interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<Stack as="ul" space={1} class="c-link-list">
  {
    items.map(({ icon, href, label, description }) => (
      <li class="c-link-list__item">
        <Icon name={icon} size={1.4} />
        <a href={href} target="_blank" rel="noopener noreferrer">
          {label}
          {description && <span class="u-visuallyhidden">{description}</span>}
        </a>
      </li>
    ))
  }
</Stack>

<style>
  .c-link-list__item {
    line-height: 1.4em;
  }

  @media (--viewport-wide) {
    .c-link-list__item {
      font-size: 1.125rem;
    }
  }
</style>
