---
import Icon from './Icon.astro';
import Link from './Link.astro';

interface Item {
  icon: string;
  href: string;
  label: string;
  description?: string;
}

export interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<ul class="p-stack">
  {
    items.map(({ icon, href, label, description }) => (
      <li class="c-link-list__item">
        <Icon name={icon} size={1.4} />
        <Link to={href}>
          {label}
          {description && <span class="u-visuallyhidden">{description}</span>}
        </Link>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    .c-link-list__item {
      @media (--viewport-wide) {
        font-size: var(--text-body-font-size-x2);
      }
    }
  }
</style>
