---
import routes from '../shared/routes';
import Stack from './Stack.astro';
import Box from './Box.astro';
---

<Box
  as="nav"
  class="c-nav"
  indent={4}
  swatch="brand"
  aria-label="Sections Navigation"
>
  <Stack as="ul" space={2}>
    {
      routes.map(({ path, label }) => (
        <li class="c-nav__item">
          <a
            href={`#${path}`}
            class="c-nav__route"
            style={{ animationTimeline: `--${path}` }}
          >
            {label}
          </a>
        </li>
      ))
    }
  </Stack>
</Box>
<style>
  @layer components {
    .c-nav {
      display: flex;
      position: absolute;
      align-items: center;
      block-size: 100dvh;
      transform: translateX(0);
      inset-block-start: 0;
      inset-inline-start: 100%;
      will-change: transform;

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 700ms cubic-bezier(0.85, 0.07, 0.04, 0.99);
      }
    }

    .c-nav.is-expanded {
      transform: translateX(-100%);
    }

    .c-nav__item {
      margin-inline-start: 0;
    }

    .c-nav__route {
      --visible: 0;

      display: block;
      padding-block: var(--space-1);
      padding-inline: calc(var(--space-2) * 1.75);
      transition: opacity 150ms linear;
      opacity: max(0.8, var(--visible));
      color: inherit;
      font-family: var(--text-heading-font-family);
      font-size: var(--text-body-font-size-x3);
      letter-spacing: 0.05em;
      text-align: end;
      text-decoration: none;
      white-space: nowrap;
    }

    .c-nav__route::before {
      content: '.';
      display: inline-block;
      translate: calc(-0.4em + 0.3em * var(--visible)) 0;
      transition: all 250ms ease-out;
      opacity: var(--visible);
    }

    .c-nav__route.is-current {
      --visible: 1;

      &::before {
        transition-delay: 200ms;
      }
    }

    .c-nav__route:hover {
      @media (--pointer-mouse) {
        --visible: 1 !important;
      }
    }

    @supports (animation-timeline: view()) {
      .c-nav__route {
        animation:
          visible steps(1) both,
          invisible steps(1) both;
        animation-range:
          entry 40% cover 10%,
          exit 30% contain 0%;
      }
    }

    @keyframes invisible {
      to {
        --visible: 0;
      }
    }

    @keyframes visible {
      to {
        --visible: 1;
      }
    }
  }
</style>
<script>
  import { menuExpanded } from '../shared/store';

  const navList = document.querySelectorAll<HTMLElement>('.c-nav');

  menuExpanded.subscribe((expanded) => {
    for (const nav of navList) {
      nav.classList.toggle('is-expanded', expanded);
      nav.setAttribute('aria-hidden', `${!expanded}`);
      nav.inert = !expanded;
    }
  });

  // for (const nav of navList) {
  //   const routes = nav.querySelectorAll('.c-nav__route');
  //   currentRoute.subscribe((currentRoute) => {
  //     if (!currentRoute) {
  //       return;
  //     }
  //     for (const route of routes) {
  //       const isCurrent = route.getAttribute('href') === `#${currentRoute}`;
  //       if (isCurrent) {
  //         route.setAttribute('aria-current', 'true');
  //       } else {
  //         route.removeAttribute('aria-current');
  //       }
  //       route.classList.toggle('is-current', isCurrent);
  //     }
  //   });
  // }
</script>
