---
import type { HTMLAttributes } from 'astro/types';
import routes, { type Route } from '../shared/routes';
import Box from './Box.astro';
import Burger from './Burger.astro';

export interface Props extends HTMLAttributes<'nav'> {
  layout?: 'offscreen' | 'inline';
  current?: Route;
}

const { layout = 'offscreen', current, ...attrs } = Astro.props;
const isOffscreen = layout === 'offscreen';
---

<Box
  as="nav"
  class:list={['c-nav', 'c-nav--' + layout]}
  indent={isOffscreen ? 4 : 0}
  {...isOffscreen && { swatch: 'brand', popover: 'auto' }}
  aria-label="Sections"
  {...attrs}
>
  {
    isOffscreen && (
      <span class="c-nav__burger">
        <Burger
          expanded={true}
          popovertarget={attrs.id}
          popovertargetaction="hide"
          autofocus
        >
          Hide navigation
        </Burger>
      </span>
    )
  }
  <ul
    class:list={[
      'c-nav__routes',
      {
        'p-stack': isOffscreen,
        'p-cluster': !isOffscreen,
      },
    ]}
    style={{ '--s': 2 }}
  >
    {
      routes.map(({ path, label }) => (
        <li class="c-nav__item">
          {/* prettier-ignore */}
          <a href={path} class="c-nav__route" class:list={{'is-current': current === path}}>{label}</a>
        </li>
      ))
    }
  </ul>
</Box>
<style>
  @layer components {
    .c-nav {
      border: 0;
      font-family: var(--text-heading-font-family);
      font-weight: 400;
      scroll-target-group: auto;
    }

    .c-nav__item {
      margin-inline-start: 0;
    }

    .c-nav__route {
      letter-spacing: 0.05em;
      text-align: end;
      text-decoration: none;
      white-space: nowrap;
    }

    .c-nav__route::before {
      content: '';
      display: inline-block;
      inline-size: 0.18em;
      margin-inline-end: 0;
      transform: translateX(-0.2em);
      transition: all 250ms ease-out;
      border-radius: 1em;
      opacity: 0;
      background-color: currentcolor;
      aspect-ratio: 1;

      @media (prefers-reduced-motion: no-preference) {
        transform: translateX(-0.6em);
      }
    }

    .c-nav__route:hover::before {
      @media (--pointer-mouse) {
        transform: translateX(-0.2em);
        opacity: 1;
      }
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    .c-nav__route:is(:target-current, .is-current)::before {
      transform: translateX(-0.2em);
      transition-delay: 200ms;
      opacity: 1;
    }

    .c-nav--offscreen {
      display: grid;
      position: fixed;
      grid-template: 1fr / 1fr;
      grid-template-areas: 'nav';
      block-size: 100dvb;
      transform: translateX(0);
      inset-block-start: 0;
      inset-inline-start: 100%;
      will-change: transform;

      @media (prefers-reduced-motion: no-preference) {
        transition-behavior: allow-discrete;
        transition-property: transform, display, overlay;
        transition-duration: 700ms;
        transition-timing-function: var(--easing-in-out);
      }

      &:not(:popover-open) {
        display: none;
      }

      &:popover-open {
        transform: translateX(-100%);

        @starting-style {
          transform: translateX(0);
        }
      }

      .c-nav__burger {
        grid-area: nav;
        align-self: start;
        justify-self: end;
      }

      .c-nav__routes {
        grid-area: nav;
        align-self: center;
      }

      .c-nav__route {
        display: block;
        padding-block: var(--space-1);
        padding-inline: calc(var(--space-2) * 1.75);
        transition: opacity 150ms linear;
        opacity: 0.8;
        color: inherit;
        font-size: var(--text-body-font-size-x3);
      }

      /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
      .c-nav__route:is(:target-current, .is-current) {
        opacity: 1;
      }

      .c-nav__route:hover {
        @media (--pointer-mouse) {
          opacity: 1;
        }
      }
    }

    .c-nav--inline {
      display: flex;
      align-items: center;
      margin-inline-end: var(--space-1);
      letter-spacing: 0.05em;
      text-align: end;

      /* stylelint-disable-next-line no-descending-specificity */
      .c-nav__route {
        display: block;
        color: var(--navigation-color-foreground-secondary);
        font-size: var(--text-body-font-size);
      }
    }
  }
</style>
<script>
  import { currentRoute } from '../shared/store';

  const hasScrollTargetGroup = CSS.supports('scroll-target-group: auto');

  const navList = document.querySelectorAll<HTMLElement>('.c-nav');
  for (const nav of navList) {
    const isOffscreen = nav.classList.contains('c-nav--offscreen');
    const routes = nav.querySelectorAll('.c-nav__route');
    currentRoute.subscribe((currentRoute) => {
      if (!currentRoute) {
        return;
      }
      if (isOffscreen) {
        nav.hidePopover();
      }
      for (const route of routes) {
        const isCurrent = route.getAttribute('href') === currentRoute;
        if (isCurrent) {
          route.setAttribute('aria-current', 'true');
        } else {
          route.removeAttribute('aria-current');
        }
        if (!hasScrollTargetGroup) {
          route.classList.toggle('is-current', isCurrent);
        }
      }
    });
  }
</script>
