---
export interface Props {
  prefix?: string;
  title: string;
  subtitle?: string;
}

const { prefix = 'me', subtitle, title } = Astro.props;
---

<section class="c-page-section">
  <header class="c-page-section__header">
    <h2 class="c-page-section__title">
      {prefix && <b class="c-page-section__prefix">{prefix}</b>}
      <span>{prefix ? `.${title}` : title}</span>
    </h2>
    {subtitle && <p class="c-page-section__sub">{subtitle}</p>}
  </header>
  <div class="c-page-section__body">
    <slot />
  </div>
</section>
<style>
  .c-page-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (--viewport-tablet-landscape) {
      display: grid;
      grid-template-columns: 28% 1fr;
      align-items: start;
      column-gap: 2%;
    }

    @media (--viewport-desktop) {
      padding-inline-start: 2.85vw;
    }
  }

  .c-page-section__header {
    font-family: var(--font-family-h);
    text-align: center;

    @media (--viewport-tablet-landscape) {
      position: sticky;
      inset-block-start: 2rem;
      text-align: start;
    }
  }

  .c-page-section__title {
    display: flex;
    justify-content: center;
    color: inherit;
    font-size: var(--font-size-800);
    font-weight: 400;
    line-height: 1.5;

    @media (--viewport-tablet-landscape) {
      justify-content: flex-start;
      white-space: nowrap;
    }
  }

  .c-page-section__prefix {
    display: inline-block;
    margin-inline-end: 0.05em;
    padding-inline: 0.3125em;
    background: linear-gradient(var(--color-red-400), var(--color-red-400))
      no-repeat 0 bottom;
    background-size: 100% 90%;
    color: var(--color-light);
    font-weight: inherit;
  }

  .c-page-section__sub {
    margin-block-start: 0.8em;
    font-size: var(--font-size-100);
  }
</style>
