---
export interface Props {
  prefix?: string;
  title: string;
  subtitle?: string;
}

const { prefix = 'me', subtitle, title } = Astro.props;
---

<section class="c-page-section">
  <header class="c-page-section__header">
    <h2 class="c-page-section__title">
      {prefix && <b class="c-page-section__prefix">{prefix}</b>}
      <span>{prefix ? `.${title}` : title}</span>
    </h2>
    {subtitle && <p class="c-page-section__sub">{subtitle}</p>}
  </header>
  <div class="c-page-section__body">
    <slot />
  </div>
</section>
<style>
  @layer components {
    @keyframes heading-parallax-in {
      from {
        transform: translateY(7rem);
      }

      to {
        transform: translateY(0);
      }
    }

    @property --mask-size {
      syntax: '<percentage>';
      inherits: false;
      initial-value: 0%;
    }

    @keyframes reveal {
      from {
        --mask-size: 0%;
      }

      to {
        --mask-size: 5%;
      }
    }

    .c-page-section {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      @media (--viewport-tablet-landscape) {
        display: grid;
        grid-template-columns: 28% 1fr;
        align-items: start;
        column-gap: 2%;
      }

      @media (--viewport-desktop) {
        padding-inline-start: 2.85vw;
      }

      @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
          animation: linear reveal both;
          mask: repeating-linear-gradient(
            45deg,
            #000 0 var(--mask-size),
            #0000 var(--mask-size) 5%
          );
          view-timeline: --pagesection block;
          animation-timeline: --pagesection;
          animation-range: entry 5% entry 55%;
        }
      }
    }

    .c-page-section__header {
      font-family: var(--text-heading-font-family);
      text-align: center;

      @media (--viewport-tablet-landscape) {
        position: sticky;
        text-align: start;
        inset-block-start: var(--space-4);
      }

      @media (--viewport-tablet-landscape) and (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
          animation: linear heading-parallax-in both;
          animation-timeline: --pagesection;
          animation-range: entry 0% exit 100%;
        }
      }
    }

    .c-page-section__title {
      display: flex;
      justify-content: center;
      color: inherit;
      font-size: var(--text-heading-font-size-x2);
      font-weight: 400;
      line-height: 1.5;

      @media (--viewport-tablet-landscape) {
        justify-content: flex-start;
        white-space: nowrap;
      }
    }

    .c-page-section__prefix {
      display: inline-block;
      margin-inline-end: 0.05em;
      padding-inline: 0.3125em;
      background: linear-gradient(
          var(--box-color-background-secondary),
          var(--box-color-background-secondary)
        )
        no-repeat 0 bottom;
      background-size: 100% 90%;
      color: var(--box-color-foreground-secondary);
      font-weight: inherit;
    }

    .c-page-section__sub {
      margin-block-start: 0.5em;
      font-size: var(--text-subheading-font-size);
    }
  }
</style>
