---
export interface Props {
  prefix?: string;
  title: string;
  subtitle?: string;
}

const { prefix = 'me', subtitle, title } = Astro.props;
---

<section class="c-page-section">
  <header class="c-page-section__header">
    <h2 class="c-page-section__title">
      {prefix && <b class="c-page-section__prefix">{prefix}</b>}
      <span>{prefix ? `.${title}` : title}</span>
    </h2>
    {subtitle && <p class="c-page-section__sub">{subtitle}</p>}
  </header>
  <div class="c-page-section__body">
    <slot />
  </div>
</section>
<style>
  @layer components {
    @keyframes heading-parallax-in {
      from {
        transform: translateY(7rem);
      }

      to {
        transform: translateY(0);
      }
    }

    /* @keyframes reveal {
      from {
        clip-path: inset(45% 0% 0 0%);
      }

      to {
        clip-path: inset(0% 0% 0% 0%);
      }
    } */

    @property --visibility {
      syntax: '<length>';
      inherits: false;
      initial-value: 0;
    }

    @keyframes reveal {
      from {
        --visibility: -30px;
      }

      to {
        --visibility: 0px;
      }
    }

    .c-page-section {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      @media (--viewport-tablet-landscape) {
        display: grid;
        grid-template-columns: 28% 1fr;
        align-items: start;
        column-gap: 2%;
      }

      @media (--viewport-desktop) {
        padding-inline-start: 2.85vw;
      }
    }

    @supports (animation-timeline: view()) {
      .c-page-section {
        mask:
          repeating-linear-gradient(
              -45deg,
              #000,
              #000 20px,
              #0000 20px,
              #0000 40px
            )
            no-repeat var(--visibility) 0,
          repeating-linear-gradient(
            -45deg,
            #0000,
            #0000 20px,
            #000 20px,
            #000 40px
          );
        view-timeline: --pagesection block;
        animation: linear reveal both;
        animation-timeline: --pagesection;
        animation-range: entry 10% entry 55%;
      }
    }

    .c-page-section__header {
      font-family: var(--text-heading-font-family);
      text-align: center;

      @media (--viewport-tablet-landscape) {
        position: sticky;
        animation: linear heading-parallax-in both;
        animation-timeline: --pagesection;
        animation-range: entry 0% exit 100%;
        text-align: start;
        inset-block-start: var(--space-4);
      }
    }

    .c-page-section__title {
      display: flex;
      justify-content: center;
      color: inherit;
      font-size: var(--text-heading-font-size-x2);
      font-weight: 400;
      line-height: 1.5;

      @media (--viewport-tablet-landscape) {
        justify-content: flex-start;
        white-space: nowrap;
      }
    }

    .c-page-section__prefix {
      display: inline-block;
      margin-inline-end: 0.05em;
      padding-inline: 0.3125em;
      background: linear-gradient(
          var(--box-color-background-secondary),
          var(--box-color-background-secondary)
        )
        no-repeat 0 bottom;
      background-size: 100% 90%;
      color: var(--box-color-foreground-secondary);
      font-weight: inherit;
    }

    .c-page-section__sub {
      margin-block-start: 0.5em;
      font-size: var(--text-subheading-font-size);
    }
  }
</style>
