@import "colors";
@import "mixins";

.c-cover {
    position: relative;
    z-index: z-index(above);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding: 0 vw($page-gutter);
    overflow: hidden;
    border-right: 8px solid $color-link;

}

.c-cover__headline {
    font-weight: 700;
    font-size: font-size(45px);
}

.c-cover__body {
    padding-left: 33%;
    flex: 1 1 auto;
    opacity: 0;
    transform: translateX(7%);
    transition: all 0.4s ease-out 0.35s;

    > * {
        margin-bottom: rem(60px);

        &::last-child {
            margin-bottom: 0;
        }
    }

    .is-active > & {
            opacity: 1;
        transform: translateX(0);
    }
}

.c-cover__pic {
    position: absolute;
    top: 50%;
    left: vw(60px);
    z-index: 1;
    width: 33 - 4.6875#{vw};
    flex: 0 0 auto;
    opacity: 0;
    transform: translateX(15%);
    transition: all 0.4s ease-out 0.35s;

    > .o-avatar {
        width: vw(270px);
        height: vw(270px);
        margin: vw(270px / -2) auto 0;
    }

    .is-active > & {
        opacity: 1;
        transform: translateX(0);
    }

    &.is-leaving {
        transition-delay: 0s;
    }
}