@import "globals";
@import "sass-mq/mq";


.c-nav:not(.is-visible) + .o-wrapper {
    overflow: hidden;
}

.c-pagelist {
    @include mq($until: tablet-landscape) {
        opacity: 1 !important;
        visibility: visible !important;
        transform: none !important;
    }

    @include mq(tablet-landscape) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
    }

    @include mq($media-type: print) {
        position: static;
    }
}

#skills .c-section {
    @include mq($media-type: print) {
        page-break-inside: avoid;
    }
}

#contacts {
    padding-top: 0;

    @include mq(tablet) {
        min-height: 20vh;
    }

    .o-social-list {
        @include mq($until: tablet-landscape) {
            max-width: 82%;
            margin: 0 auto;
        }
    }

    @include mq($media-type: print) {
        padding-top: 4cm;

        .c-section {
            padding-bottom: 0;
        }
    }
}