---
import Card from '../components/Card.astro';
import Page from '../components/Page.astro';
import PageSection from '../components/PageSection.astro';
import { NAV_PATH_EDUCATION } from '../shared/constants';
import { getEducation } from '../shared/collections';

const education = await getEducation();
---

<Page id={NAV_PATH_EDUCATION} mark="学校">
  <PageSection title="education" subtitle="You never stop learning">
    <div class="p-stack p-stack--near">
      {education.map((entry) => <Card titleLabel="title" {...entry} />)}
    </div>
  </PageSection>
</Page>
