---
import Card from '../components/Card.astro';
import Page from '../components/Page.astro';
import PageSection from '../components/PageSection.astro';
import { NAV_PATH_JOBS } from '../shared/constants';
import { getJobs } from '../shared/collections';

const { current, previous } = await getJobs();
---

<Page id={NAV_PATH_JOBS} mark="会社">
  {
    current && (
      <PageSection title="jobs.current">
        <Card
          titleLabel="company"
          {...current}
          dateFormat={{ year: 'numeric' }}
        />
      </PageSection>
    )
  }
  <PageSection title="jobs.previous">
    <div class="p-stack p-stack--near">
      {
        previous.map((job) => (
          <Card
            titleLabel="company"
            {...job}
            dateFormat={{ year: 'numeric' }}
          />
        ))
      }
    </div>
  </PageSection>
</Page>
