---
import Page from '../components/Page.astro';
import PageSection from '../components/PageSection.astro';
import { NAV_PATH_SKILLS } from '../shared/constants';
import InlineList from '../components/InlineList.astro';
import DataGroup from '../components/DataGroup.astro';
import { getSkills } from '../shared/collections';

const skills = await getSkills();
---

<Page id={NAV_PATH_SKILLS} mark="技能">
  <PageSection title="skills.tech">
    <div class="s-skills">
      {
        skills.map(({ label, icon, data: skills }) => (
          <DataGroup label={label} icon={icon}>
            <InlineList items={skills} />
          </DataGroup>
        ))
      }
    </div>
  </PageSection>
</Page>
<style>
  @layer layout {
    .s-skills {
      --max-columns: 2;
      --max-column-width: 23rem;
      --column-gap: calc(3 * var(--space-unit));
      --row-gap: calc(7 * var(--space-unit));

      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(min(100%, var(--max-column-width)), 1fr)
      );
      min-inline-size: 0;
      max-inline-size: calc(
        var(--max-column-width) * var(--max-columns) + var(--column-gap)
      );
      column-gap: var(--column-gap);
      row-gap: var(--row-gap);
    }
  }
</style>
