---
import { NAV_PATH_TALKS } from '../shared/constants';
import Card from '../components/Card.astro';
import Page from '../components/Page.astro';
import PageSection from '../components/PageSection.astro';
import { getTalks } from '../shared/collections';
import MediaLink from '../components/MediaLink.astro';

const talks = await getTalks();
---

<Page id={NAV_PATH_TALKS} mark="発表">
  <PageSection title="talks" subtitle="Sharing the knowledge">
    <div class="p-stack p-stack--near">
      {
        talks.map(({ details, media }) => (
          <Card titleLabel="title" {...details}>
            {media && (
              <footer slot="footer">
                <ul
                  class="p-cluster"
                  style={{ '--s': 1 }}
                  aria-label={`Resources related to ${details.title}`}
                >
                  {media.map(({ lang, ...props }) => (
                    <li>
                      <MediaLink {...props}>
                        {props.type}
                        {lang && ` (${lang})`}
                      </MediaLink>
                    </li>
                  ))}
                </ul>
              </footer>
            )}
          </Card>
        ))
      }
    </div>
  </PageSection>
</Page>
