/* ==========================================================================

   Print Styles
   ====

   ```
   ```

   ========================================================================== */

@import "fonts";
@import "colors";


* {
    color: $color-text !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    color: $color-text !important;
    text-decoration: none;
}

a[href][target="_blank"] {
    display: inline;
    background-image:
        linear-gradient(
            to top,
            rgba($color-text, 0.2) 0,
            rgba($color-text, 0.2) 3px,
            transparent 4px
        );
    color: $color-text !important;
    text-decoration: none;
}

a[href][target="_blank"]::after {
    position: static;
    opacity: 1;
    background-color: transparent;
    font-size: 0.8em;
    content: " (" attr(href) ")";
}

// Don't show links for images, or javascript/internal links
.ir a::after,
a[href^="javascript:"]::after,
a[href^="#"]::after {
    content: "";
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
h2,
h3 {
    widows: 3;
    orphans: 3;
}

h2,
h3 {
    page-break-after: avoid;
}