/* ==========================================================================

   Print Styles
   ====

   ```
   ```

   ========================================================================== */

@import "fonts";
@import "colors";

@media print {

    @page {
        margin: 1cm 0.5cm;
        size: A4 portrait;
    }

    @page :first {
        margin: 0;
    }

    @page :last {
        height: 29.7cm;
    }
    @page:last {
        @bottom-center { content: element(footer) }
    }

    * {
        box-shadow: none !important;
        text-shadow: none !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        overflow: auto;
        height: auto;
    }

    a,
    a:visited {
        color: $color-text !important;
        text-decoration: none;
    }

    a[href][target="_blank"] {
        display: inline;

        background-image: none;
        color: $color-text !important;
        text-decoration: none;
    }

    a[href][target="_blank"]::after {
        position: static;
        opacity: 1;
        background-color: transparent;
        font-size: 0.8em;
        content: " (" attr(href) ")";
        border-bottom: 2px solid rgba($color-text, 0.2);
    }

    // Don't show links for images, or javascript/internal links
    .ir a::after,
    a[href^="javascript:"]::after,
    a[href^="#"]::after {
        content: "";
    }

    thead {
        display: table-header-group;
    }

    ul,
    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        widows: 3;
        orphans: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
