---
import { Sprite } from 'astro-icon';
import 'modern-normalize/modern-normalize.css';
import '../styles/tokens.css';
import '../styles/global.css';
import '../styles/utility.css';
import Burger from '../components/Burger.astro';
import Stack from '../components/Stack.astro';
import Nav from '../components/Nav.astro';

const socialImageURL = new URL('/marco-og.jpg', Astro.url);
---

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Marco Solazzi - Frontend Web Developer</title>
    <meta
      name="description"
      content="Personal Website of Marco Solazzi - Frontend Web Developer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      property="og:title"
      content="Marco Solazzi - Frontend Web Developer"
    />
    <meta
      property="og:description"
      content="Personal Website of Marco Solazzi - Frontend Web Developer"
    />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:url" content="http://marco.solazzi.me/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Sprite.Provider>
      <header class="l-header" id="header">
        <Burger />
        <Nav />
      </header>
      <div class="l-container">
        <main>
          <slot name="cover" />
          <Stack space={15} class="l-pages">
            <slot />
          </Stack>
        </main>
        <footer class="l-footer">
          © 2017-{new Date().getFullYear()} Marco Solazzi - <a
            href="https://github.com/dwightjack/marco.solazzi.me/blob/main/LICENSE.md"
            target="_blank"
            rel="noopener noreferrer">license</a
          >&nbsp<a
            href="https://github.com/dwightjack/marco.solazzi.me"
            target="_blank"
            rel="noopener noreferrer">source</a
          >
        </footer>
      </div>
    </Sprite.Provider>
    <style>
      :global([astro-icon-spritesheet]) {
        display: block !important;
        position: absolute;
        block-size: 0;
        inline-size: 0;
        overflow: hidden;
      }

      .l-header {
        position: fixed;
        z-index: var(--layer-f5);
        inline-size: 0;
        inset-block-start: 0;
        inset-inline-end: 0;
      }

      .l-pages {
        padding-block: 6.25rem;
      }

      .l-footer {
        padding-block-end: 1.875rem;
        font-size: var(--text-footer-font-size);
        text-align: center;
      }
    </style>
  </body>
</html>
<script>
  import { menuExpanded } from '../shared/store';

  const header = document.getElementById('header');

  function hideNav(e: KeyboardEvent | MouseEvent) {
    if ((e as KeyboardEvent).key === 'Escape') {
      menuExpanded.set(false);
      return;
    }
    if (header && !header.contains(e.target as Node)) {
      menuExpanded.set(false);
    }
  }

  menuExpanded.subscribe((expanded) => {
    if (expanded) {
      document.addEventListener('click', hideNav);
      document.addEventListener('keyup', hideNav);
      return;
    }
    document.removeEventListener('click', hideNav);
    document.removeEventListener('keyup', hideNav);
  });
</script>
