@import "colors";
@import "mixins";

.c-pagelist {
    position: relative;
    height: 100vh;
    overflow: hidden;

    > [data-scrollbar] {
        height: 100vh;
    }

    .c-page:last-child .c-section:last-child {
        min-height: 100vh;
    }
}

.c-pagelist__footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}