@import "globals";
@import "colors";
@import "mixins";
@import "sass-mq/mq";

.c-pagelist {
    overflow: hidden;

    @include mq(tablet-portrait) {
        position: relative;
        height: 100vh;
    }

    @include mq($media-type: print) {
        opacity: 1 !important;
        visibility: visible !important;
        height: auto !important;
        transform: none !important;
    }

    > [data-scrollbar] {
        height: 100vh;

        @include mq($media-type: print) {
            overflow: visible !important;
            height: auto;

            .scroll-content {
                transform: none !important;
            }
        }
    }

    .c-page:last-child .c-section:last-child {
        min-height: 100vh;
    }
}

/*
.c-pagelist__scroll {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
*/

.c-pagelist__footer {
    padding: 0 0 30px;
    font-size: font-size(12px);
    text-align: center;

    @include mq($media-type: print) {
        display: none;
    }
}