@import "colors";
@import "mixins";

.c-pagelist {
    position: relative;
    height: 100vh;
    overflow: hidden;

    > [data-scrollbar] {
        height: 100vh;
    }

    .c-page:last-child .c-section:last-child {
        min-height: 100vh;
    }
}

.c-pagelist__footer {
    padding: 0 0 30px;
    font-size: font-size(12px);
    text-align: center;
}